.cp-donation-card {
  padding: 1rem 0rem;
  margin: 1rem 0;
  color: $black;

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__content::after {
    width: 90%;
    height: 3px;
    position: absolute;
    background-color: $green;
    content: "";
    bottom: -10px;
    border-radius: 2px;
  }

  &__content::before {
    border-radius: 2px;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: $lightGray;
    content: "";
    bottom: -10px;
  }

  &__content > *:last-child {
    margin-left: auto;
  }

  &__content > *:first-child {
    margin-right: 0.8rem;
  }
}

.cp-donation {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    line-height: 1.2;
  }

  &--huge-mt {
    margin-top: 2rem;

    @mixin atMedium {
      margin-top: 20rem;
    }

    @mixin atVeryLarge {
      margin-top: 18.6rem;
    }
  }

  &--center {
    text-align: center;
  }
}

.cp-donation__img {
  text-align: center;
}

.cp-donation__img img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.cp-donation__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;
  font-size: .9rem;

  img {
    position: relative;
    top: 4px;
  }
}

.cp-donation__meta__goal {
  
  margin-top: 1rem;

  span {
    color: $green;
  }

  p {
    margin: 0.2rem;
  }
}

.cp-donation__meta__goal {
  position: relative;
}
.cp-donation__meta__goal::after {
  width: 20%;
  height: 5px;
  position: absolute;
  background-color: $green;
  content: "";
  bottom: -10px;
  border-radius: 3px;
}

.cp-donation__meta__goal::before {
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: $lightGray;
  content: "";
  bottom: -10px;
  border-radius: 3px;
}

.cp-donation-card:first-child {
  padding-top: 0;
}
.cp-donation > *:nth-child(2) > *::after {
  width: 40%;
}
.cp-donation > *:nth-child(3) > *::after {
  width: 75%;
}
.cp-donation > *:nth-child(4) > *::after {
  width: 40%;
}
.cp-donation > *:nth-child(5) > *::after {
  width: 10%;
}

.cp-donation__meta__time-left {
  margin-top: 2rem;
  color: $gray;
  font-size: .9rem;
}

.cp-donation__meta-btn {
  display: flex;
  justify-content: space-between;
  width: 170px;
  align-items: center;

}
